/* ========================================================================
   Select2
 ========================================================================== */
.select2-selection:focus, .select2-search__field:focus {
    border-color: #99baca;
    outline: 0;
    background: #f5fbfe;
    color: #444;
}
.select2-selection.select2-selection--single {
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 0;
}
.select2-container--default .select2-selection--multiple {
    border-radius: 0;
}
.select2-dropdown,
.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #ddd;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #f5f5f5;
    border: 1px solid #c7c7c7;
}
.select2-container .select2-search--inline .select2-search__field {
    margin-top: 8px;
    padding: 0 3px;
    height: inherit;
}
.uk-form .select2-container .select2-search--inline .select2-search__field {
    margin-top: 9px;
    color: #666;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #f5f5f5;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #1e87f0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    font-weight: normal;
    line-height: 1.7;
}
.select2-results__group {
    color: #333;
    text-shadow: 0 1px 0 #fff;
    background-color: #f5f5f5;
}
.select2-results__option:not(:first-child) {
    border-top: 1px solid #e0e0e0;
    background: #fefefe;
}
.select2-selection__choice {
    white-space: normal;
    font-size: 14px;
}
.select2-container--default .select2-results>.select2-results__options {
    max-height: 400px;
}
.select2-container--default .select2-results__group, .select2-results__option {
    padding: 2px 8px;
}
.select2-container--open .select2-dropdown--below {
    box-shadow: 0 14px 25px rgba(0,0,0,0.16);
}
.select2-container--default .select2-results__group {
    font-weight: 600;
}
.select2-results__option {
    font-size: 14px;
}
